In [1]:
import numpy as np
import pandas as pd

from sklearn.metrics import r2_score

In [2]:
data_pd = pd.read_csv("winequality-red.csv",delimiter=";")
data_pd.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
data = data_pd.to_numpy(np.float32)
X = data[:,:11]
X = np.insert(X, 0, 1, axis=1)
Y = data[:,11].reshape((-1,1))

In [4]:
X.shape, Y.shape

((1599, 12), (1599, 1))

In [5]:
w = np.zeros((X.shape[1] , 1))

for it in range(1, 1000):
    y_pred = X @ w
    dw = (1/X.shape[0]) * np.dot(X.T, (y_pred - Y)) + 30 * np.sign(w)
    w = w - 0.0001 * dw

In [6]:
w

array([[ 0.0027451 ],
       [ 0.0034085 ],
       [ 0.00227069],
       [ 0.00012541],
       [ 0.00342882],
       [ 0.0017169 ],
       [ 0.00284956],
       [ 0.06852868],
       [ 0.00191788],
       [-0.00051742],
       [ 0.00157602],
       [ 0.00169561]])

In [7]:
np.argmax(np.abs(w))

7

In [8]:
data_pd.iloc[:,np.argmax(np.abs(w))-1].name

'total sulfur dioxide'